

.account-title{
    color:#2E5B96;
    font-weight: bold;
    padding: 10px 0px 10px;
}

.align{
    margin-top: 20px;;
    text-align: center;
}

.slds-align_absolute-center{
    display: none;
}

.editform{
    width:100%;
}