.maincontainer{
   background-color: white;
   padding-bottom: 20px;
   min-height:450px;
}

.header{
    text-align: center;
    padding:30px 30px 10px 30px;
    color:#2E5B96;
}

.title-top{
    font-weight: bold;
    padding-bottom: 5px;
}

.account-details{
    margin:20px 20px 40px 20px;
}
